@import "./theme";

@font-face {
  font-family: 'GT America Mono';
  src: url('/fonts/GT-America-Mono-Bold.OTF');
  src: url('/fonts/GT-America-Mono-Regular.OTF');
}

.container{
  width: 100vw;
  flex-basis: 100vh;
  min-height: 100vh;
  background-color: transparent;
  font-family: "GT America Mono", monospace;
  padding: 20px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  main{
    height: 100%;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.About{
  width: 100%;
  max-width: 1300px;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .story, .team{
    margin: 2rem 0;
  }

  @media only screen and (min-device-width: 650px) {
    .story { margin-left: 15%; }
    .team { margin-left: 30%; }
  }

  @media only screen and (min-device-width: 1024px) {
    .story { margin-left: calc(100vw / 12 * 1 + (#{$gutter} * 3)); }
    .team { margin-left: calc(100vw / 12 * 3 + (#{$gutter} * 7)); }
  }

  .story{
    text-transform: uppercase;
    max-width: 325px;
  }


  .team{
    h2{
      margin-bottom: 25px;
    }
    &-wrapper{
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      grid-gap: 18px;
    }
    &-member{
      margin: 15px 0;
    }
  }
}

h1{
  font-size: 40px;
  margin: 0 !important;
}
h2{
  @extend %h2-font;
  font-family: "GT America Mono", monospace;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

p{
  @extend %p-font;
  margin: 0;
}

canvas{
  width: 100%;
  height: 100%;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:link {
  color: $black;
}
a:visited {
  color: $black;
}
a:hover {
  color: $black;
  p:last-of-type{
    color: $purp;
  }
}
a:active {
  color: $black;
}

::selection {
  background: $black;
  color: $white;
}
::-moz-selection {
  background: $black;
  color: $white;
}