$black: #000;
$white: #fff;
$purp: #8481E1;
$gutter: 20px;

%nav-font{
  font-size: 14px;
  @media(max-width: 550px) {
    font-size: 16px;
  }
}

%p-font{
  font-size: 14px;
  @media(max-width: 550px) {
    font-size: 16px;
  }
}

%h2-font{
  font-size: 16px;
  @media(max-width: 550px) {
    font-size: 18px;
  }
}
